<!DOCTYPE html>
<html lang="en">

{{template "Header"}}

<body class="inner_page login">
    <script>
        var data = "{{.message}}";
        if (data.trim() !== "") {
            Toastify({
                text: data,
                duration: 3000, // Duration in milliseconds
                close: true, // Show close button
                style: {
                    background: "linear-gradient(to right, #d49090, #ff4748)",
                },
            }).showToast();
        }
    </script>

    <div class="full_container">
        <div class="container">
            <div class="center verticle_center full_height">
                <div class="login_section" style="min-height: 400px !important">
                    <div class="logo_login">
                        <!-- <div class="center">
                            <img width="210" src="images/logo/logo.png" alt="#" />
                        </div> -->
                        <div class="center">
                            <h1 style="color: #fff;">Login Administrator SPBKLU</h1>
                        </div>
                    </div>
                    <div class="login_form">
                        <form method="post" action="/login">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="label_field">Email Address</label>
                                    </div>
                                    <div class="col-md-8 col-lg-8 col-xl-8">
                                        <input class="input-field" type="email" name="email" placeholder="E-mail"
                                            style="width:100%" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-md-4">
                                        <label class="label_field">Password</label>
                                    </div>
                                    <div class="col-md-8 col-lg-8 col-xl-8">
                                        <input class="input-field" type="password" name="password" id="password"
                                            placeholder="Password" style="width:100%" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-md-4">
                                        <label class="label_field">Show Password</label>
                                    </div>
                                    <div class="col-md-8 col-lg-8 col-xl-8">
                                        <input type="checkbox" id="showPassword" onclick="showHidePassword()">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-8 col-lg-8 col-xl-8">
                                        <button type="submit" class="btn btn-success">Sign In</button>
                                        <button type="button" class="btn btn-danger ml-3 " data-toggle="modal"
                                            data-target="#forgotPassModal">Forgot
                                            Password</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <!-- Forgot Password Modal -->
                <div class="modal fade" id="forgotPassModal" tabindex="-1" role="dialog"
                    aria-labelledby="forgotPassModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header dash_head">
                                <h5 class="modal-title" id="forgotPassModalLabel" style="color: #fff;">Input Email Reset
                                    Password
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="color: #fff;">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="forgotPassForm" method="post" enctype="multipart/form-data"
                                    style="font-size: 0.8rem;">
                                    <!-- Form fields for adding data -->
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email"
                                            style="font-size:0.8rem" required>
                                    </div>
                                    <!-- Add more fields as needed -->
                                    <div class="modal-footer">
                                        <button type="button" id="forgotPassBtn" class="btn btn-sm btn-primary"
                                            style="font-size: 0.8rem;">Send
                                            Link Reset Password</button>
                                        <button type="button" class="btn btn-sm btn-danger" class="close"
                                            data-dismiss="modal" style="font-size: 0.8rem;">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <style>
        .input-field {
            height: 50px;
            padding: 10px;
            border: 1px solid #ccc;
            /* Thin light grey border */
            border-radius: 5px;
            /* Rounded corners */
            outline: none;
            /* Remove default focus outline */
        }

        .main_bt {
            font-size: 0.85rem;
        }
    </style>

    <script>
        function showHidePassword() {
            var passwordInput = document.getElementById("password");
            var showPasswordCheckbox = document.getElementById("showPassword");

            if (showPasswordCheckbox.checked) {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#forgotPassBtn").click(function () {
                // Serialize the form data or get the necessary data in another way
                var formData = $("#forgotPassForm").serialize();

                // Send an AJAX request to the server
                $.ajax({
                    type: "POST",
                    url: "/send_link", // Change this to the actual server endpoint
                    data: formData,
                    success: function (response) {
                        // Handle the success response
                        if (response.success) {
                            // Data added successfully
                            Toastify({
                                text: "Please check your email to reset password",
                                duration: 3000,
                                close: true,
                                style: {
                                    background: "linear-gradient(to right, #7ce1b7, #1ed085)",
                                },
                            }).showToast();
                        } else {
                            Toastify({
                                text: "Error: " + response.message,
                                duration: 3000,
                                close: true,
                                style: {
                                    background: "linear-gradient(to right, #d49090, #ff4748)",
                                },
                            }).showToast();
                        }
                    },
                    error: function (xhr, status, error) {
                        Toastify({
                            text: "Error: " + xhr.responseText,
                            duration: 3000,
                            close: true,
                            style: {
                                background: "linear-gradient(to right, #d49090, #ff4748)",
                            },
                        }).showToast();
                    },
                });
            });
        });
    </script>


    <!-- jQuery -->
    {{ template "Footerjs"}}
</body>

</html>