<!DOCTYPE html>
<html lang="en">
{{template "Header"}}

<body class="dashboard dashboard_1">
   <div class="full_container">
      <div class="inner_container">
         <!-- Sidebar  -->
         {{template "Sidebar"}}
         <!-- end sidebar -->
         <!-- right content -->
         <div id="content">
            <!-- topbar -->
            {{template "Navbar"}}

            <!-- end topbar -->
            <!-- dashboard inner -->
            <div class="midde_cont">
               <div class="container-fluid">
                  <div class="row column_title">
                     <div class="col-md-12">
                        <div class="page_title">
                           <h2>Daftar BSS</h2>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <!-- table section -->
                     <div class="col-md-12">
                        <div class="white_shd full margin_bottom_30">
                           <div class="full graph_head">
                              <div class="heading1 margin_0">
                                 <!-- <h2>Hover Table</h2> -->
                                 <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#addDataModal"
                                    style="font-size:0.8rem;">Add Data</button>
                                 <button id="reload-button" class="btn btn-sm btn-primary"
                                    style="font-size:0.8rem;">Reload Table</button>
                              </div>
                           </div>

                           <div class="padding_infor_info">
                              <div class="table-responsive-sm">
                                 <table id="data-table" class="table table-hover" style="font-size:0.75rem;"
                                    width="100%" cellspacing="0">
                                    <thead style="font-size:0.7rem;">
                                       <tr>
                                          <th>No</th>
                                          <th>Nama</th>
                                          <th>Alamat</th>
                                          <th>Longitude</th>
                                          <th>Latitude</th>
                                          <th>Slot</th>
                                          <th>Status</th>
                                          <th>Last Ping</th>
                                          <!-- <th>Created At</th>
                                          <th>Updated At</th> -->
                                          <th>User Active</th>
                                          <th>QR Code</th>
                                          <th>Transaction ID</th>
                                          <th>Action</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                 </table>

                              </div>
                           </div>
                        </div>
                     </div>

                     <!-- Auto hide div edit form -->

                     <div class="col-md-12">
                        <div class="white_shd full margin_bottom_30">
                           <!-- Edit Modal -->
                           <div id="editForm" style="padding:30px ;display: none;">
                              <form id="editDataForm" style="font-size: 0.8rem; ">
                                 <div class="row">
                                    <div class="col-md-4">
                                       <!-- Form fields for adding data -->
                                       <div class="form-group">
                                          <label for="name">Id BSS:</label>
                                          <input type="text" class="form-control" id="rowId" name="rowId"
                                             style="font-size:0.8rem" readonly>
                                       </div>
                                       <div class="form-group">
                                          <label for="name">Name:</label>
                                          <input type="text" class="form-control" id="name" name="name"
                                             style="font-size:0.8rem" required>
                                       </div>
                                       <div class="form-group">
                                          <label for="address">Address:</label>
                                          <input type="text" class="form-control" id="address" name="address"
                                             style="font-size:0.8rem" required>
                                       </div>
                                       <div class="form-group">
                                          <label for="city">City:</label>
                                          <input type="text" class="form-control" id="city" name="city"
                                             style="font-size:0.8rem" required>
                                       </div>
                                       <div class="form-group">
                                          <label for="province">Province:</label>
                                          <input type="text" class="form-control" id="province" name="province"
                                             style="font-size:0.8rem" required>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <!-- Form fields for adding data -->
                                       <div class="form-group">
                                          <label for="longitude">Longitude:</label>
                                          <input type="number" class="form-control" id="longitude" name="longitude"
                                             style="font-size:0.8rem" required>
                                       </div>
                                       <div class="form-group">
                                          <label for="latitude">Latitude:</label>
                                          <input type="number" class="form-control" id="latitude" name="latitude"
                                             style="font-size:0.8rem" required>
                                       </div>
                                       <div class="form-group">
                                          <label for="slot">Slot:</label>
                                          <input type="number" class="form-control" id="slot" name="slot"
                                             style="font-size:0.8rem" min=0 max=20 required>
                                       </div>
                                       <div class="form-group">
                                          <label for="status">Status:</label>
                                          <input type="number" class="form-control" id="status" name="status"
                                             style="font-size:0.8rem" min=0 max=20 required>
                                       </div>
                                       <div class="form-group">
                                          <label for="lastping">Last Ping:</label>
                                          <input type="text" class="form-control" id="lastping" name="lastping"
                                             style="font-size:0.8rem" disabled>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <!-- Form fields for adding data -->
                                       <div class="form-group">
                                          <label for="created">Created At:</label>
                                          <input type="text" class="form-control" id="created" name="created"
                                             style="font-size:0.8rem" disabled>
                                       </div>
                                       <div class="form-group">
                                          <label for="updated">Updated At:</label>
                                          <input type="text" class="form-control" id="updated" name="updated"
                                             style="font-size:0.8rem" disabled>
                                       </div>
                                       <div class="form-group">
                                          <label for="useractive">User Active:</label>
                                          <input type="text" class="form-control" id="useractive" name="useractive"
                                             style="font-size:0.8rem" disabled>
                                       </div>
                                       <div class="form-group">
                                          <label for="qrcode">QR Code:</label>
                                          <input type="text" class="form-control" id="qrcode" name="qrcode"
                                             style="font-size:0.8rem" disabled>
                                       </div>
                                       <div class="form-group">
                                          <label for="transactionid">Transaction ID:</label>
                                          <input type="text" class="form-control" id="transactionid"
                                             name="transactionid" style="font-size:0.8rem" disabled>
                                       </div>
                                    </div>

                                 </div>
                                 <!-- Add more fields as needed -->
                                 <div>
                                    <button type="submit" class="btn btn-sm btn-primary" style="font-size:0.8rem">Update
                                       Data</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                     <!-- table section -->
                  </div>

               </div>
               <!-- footer -->
               {{template "Footer"}}
            </div>


            <!-- Add Modal -->
            <div class="modal fade" id="addDataModal" tabindex="-1" role="dialog" aria-labelledby="addDataModalLabel"
               aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header dash_head">
                        <h5 class="modal-title" id="addDataModalLabel" style="color: #fff;">Add Data BSS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true" style="color: #fff;">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form id="addDataForm" style="font-size: 0.8rem;">
                           <!-- Form fields for adding data -->
                           <div class="form-group">
                              <label for="name">Name:</label>
                              <input type="text" class="form-control" id="name" name="name" style="font-size:0.8rem"
                                 required>
                           </div>
                           <div class="form-group">
                              <label for="address">Address:</label>
                              <input type="text" class="form-control" id="address" name="address"
                                 style="font-size:0.8rem" required>
                           </div>
                           <div class="form-group">
                              <label for="city">City:</label>
                              <input type="text" class="form-control" id="city" name="city" style="font-size:0.8rem"
                                 required>
                           </div>
                           <div class="form-group">
                              <label for="province">Province:</label>
                              <input type="text" class="form-control" id="province" name="province"
                                 style="font-size:0.8rem" required>
                           </div>
                           <div class="form-group">
                              <label for="longitude">Longitude:</label>
                              <input type="number" class="form-control" id="longitude" name="longitude"
                                 style="font-size:0.8rem" required>
                           </div>
                           <div class="form-group">
                              <label for="latitude">Latitude:</label>
                              <input type="number" class="form-control" id="latitude" name="latitude"
                                 style="font-size:0.8rem" required>
                           </div>
                           <div class="form-group">
                              <label for="slot">Slot:</label>
                              <input type="number" class="form-control" id="slot" name="slot" style="font-size:0.8rem"
                                 min=0 max=20 required>
                           </div>
                           <!-- Add more fields as needed -->
                           <div style="margin-top: 20px; margin-bottom: 30px;">
                              <button type="submit" class="btn btn-sm btn-primary" style="font-size: 0.8rem;">Submit
                                 Data</button>
                              <button type="button" class="btn btn-sm btn-danger" class="close" data-dismiss="modal"
                                 style="font-size: 0.8rem;">Cancel</button>
                              <div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>

            <!-- end dashboard inner -->
         </div>
      </div>
   </div>

   {{template "Footerjs"}}

   <script>
      // datatable
      var dataTable;
      $(document).ready(function () {
         var selectedRowId; // Variable to store the selected row's ID
         var selectedRowName; // Variable to store the selected row's Name

         dataTable = $('#data-table').DataTable({
            paging: true, // Enable pagination
            searching: true, // Enable searching
            processing: true, // Show a loading indicator
            ajax: {
               url: '/bss_ajax', // Replace with your server endpoint
               type: 'GET', // Use POST or GET as appropriate
               dataSrc: '', // Specify the property that contains the data in the response
            },
            columns: [ // Define your table columns here
               { data: 'No' },
               { data: 'Name' },
               {
                  data: null, // Use null to indicate custom rendering
                  render: function (data, type, row) {
                     // Combine Address, City, and Province into a single column
                     return row.Address + ', ' + row.City + ', ' + row.Province;
                  }
               },
               { data: 'Longitude' },
               { data: 'Latitude' },
               { data: 'Slot' },
               { data: 'Status' },
               { data: 'LastPing' },
               //{ data: 'CreatedAt' },
               //{ data: 'UpdatedAt' },
               { data: 'Email' },
               { data: 'QrCode' },
               { data: 'TransactionId' },
               {
                  // Define the column for the "Delete" button
                  data: null,
                  render: function (data, type, row) {
                     return '<button type="button" class="btn btn-sm btn-info edit-button" data-id="' + row.Id + '" data-name="' + row.Name + '" data-address="' + row.Address + '" data-city="' + row.City + '" data-province="' + row.Province + '"  data-longitude="' + row.Longitude + '"  data-latitude="' + row.Latitude + '"  data-slot="' + row.Slot + '"   data-status="' + row.Status + '"  data-lastping="' + row.LastPing + '"  data-created="' + row.CreatedAt + '"  data-updated="' + row.UpdatedAt + '"  data-useractive="' + row.Email + '" data-transactionid="' + row.TransactionId + '" data-qrcode="' + row.QrCode + '" style="font-size:0.75rem; margin-right:1px"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-sm btn-danger delete-button" data-id="' + row.Id + '" data-name="' + row.Name + '" style="font-size:0.75rem"><i class="fa fa-trash"></i></button>';
                  }
               }
            ],
            dom: 'lBfrtip', // Include the Buttons extension
            buttons: [
               {
                  extend: 'csv', // Excel button
                  text: 'Export to CSV', // Set custom text
               }
            ],
         });

         $('#reload-button').on('click', function () {
            dataTable.ajax.reload();
         });

         // Handle the "Delete" button click in the DataTable
         $('#data-table').on('click', '.delete-button', function () {
            selectedRowId = $(this).data('id'); // Store the row's ID
            selectedRowName = $(this).data('name'); // Store the row's Name
            Swal.fire({
               title: 'Delete Record?',
               text: 'Are you sure you want to delete ' + selectedRowName + '?',
               icon: 'warning',
               showCancelButton: true,
               confirmButtonColor: '#ff4748',
               cancelButtonColor: '#36a9e2',
               confirmButtonText: 'Yes, delete it!',
               cancelButtonText: 'Cancel'
            }).then((result) => {
               if (result.isConfirmed) {
                  // Send an AJAX request to delete the record
                  $.ajax({
                     url: '/bss_delete', // Replace with the URL for your server-side delete endpoint
                     type: 'POST',
                     data: { id: selectedRowId },
                     success: function (response) {
                        if (response.success) {
                           // Reload the DataTable to reflect the deleted record
                           dataTable.ajax.reload();
                           $('#editForm').hide();
                           Toastify({
                              text: "Data " + selectedRowName + " deleted successfully",
                              duration: 3000, // Duration in milliseconds
                              close: true, // Show close button
                              style: {
                                 background: "linear-gradient(to right, #7ce1b7, #1ed085)",
                              },
                           }).showToast();
                        } else {
                           Toastify({
                              text: response.message,
                              duration: 3000, // Duration in milliseconds
                              close: true, // Show close button
                              style: {
                                 background: "linear-gradient(to right, #d49090, #ff4748)",
                              },
                           }).showToast();
                        }
                     },
                     error: function () {
                        Toastify({
                           text: "Error: An error occurred while deleting the record.",
                           duration: 3000, // Duration in milliseconds
                           close: true, // Show close button
                           style: {
                              background: "linear-gradient(to right, #d49090, #ff4748)",
                           },
                        }).showToast();
                     }
                  });

               }
            });
         });

         $('#data-table').on('click', '.edit-button', function () {
            selectedRowId = $(this).data('id'); // Store the row's ID
            selectedRowName = $(this).data('name'); // Store the row's Name
            selectedRowAddress = $(this).data('address');
            selectedRowCity = $(this).data('city');
            selectedRowProvince = $(this).data('province');
            selectedRowLongitude = $(this).data('longitude');
            selectedRowLatitude = $(this).data('latitude');
            selectedRowSlot = $(this).data('slot');
            selectedRowStatus = $(this).data('status');
            selectedRowLastping = $(this).data('lastping');
            selectedRowCreated = $(this).data('created');
            selectedRowUpdated = $(this).data('updated');
            selectedRowUserActive = $(this).data('useractive');
            selectedRowTransactionId = $(this).data('transactionid');
            selectedRowQrCode = $(this).data('qrcode');

            $('#rowId').val(selectedRowId);
            $('#name').val(selectedRowName);
            $('#address').val(selectedRowAddress);
            $('#city').val(selectedRowCity);
            $('#province').val(selectedRowProvince);
            $('#longitude').val(selectedRowLongitude);
            $('#latitude').val(selectedRowLatitude);
            $('#slot').val(selectedRowSlot);
            $('#status').val(selectedRowStatus);
            $('#lastping').val(selectedRowLastping);
            $('#created').val(selectedRowCreated);
            $('#updated').val(selectedRowUpdated);
            $('#useractive').val(selectedRowUserActive);
            $('#transactionid').val(selectedRowTransactionId);
            $('#qrcode').val(selectedRowQrCode);

            // Show the edit form
            $('#editForm').show();
         });

      });
   </script>


   <script>
      // add data
      $(document).ready(function () {
         $("#addDataForm").submit(function (e) {
            e.preventDefault(); // Prevent the form from submitting in the default way

            // Serialize the form data
            var formData = $(this).serialize();

            // Send an AJAX request to the server
            $.ajax({
               type: "POST",
               url: "/bss_add", // Change this to the actual server endpoint
               data: formData,
               success: function (response) {
                  // Handle the success response
                  if (response.success) {
                     // Data added successfully
                     Toastify({
                        text: "Data added successfully",
                        duration: 3000, // Duration in milliseconds
                        close: true, // Show close button
                        style: {
                           background: "linear-gradient(to right, #7ce1b7, #1ed085)",
                        },
                     }).showToast();
                     $('#addDataModal').modal('hide'); // Close the modal
                     dataTable.ajax.reload(); // Load the table
                  } else {
                     // Handle any server-side validation errors
                     Toastify({
                        text: "Error: " + response.message,
                        duration: 3000, // Duration in milliseconds
                        close: true, // Show close button
                        style: {
                           background: "linear-gradient(to right, #d49090, #ff4748)",
                        },
                     }).showToast();
                     //alert("Error: " + response.message);
                  }
               },
               error: function (xhr, status, error) {
                  console.log(xhr.responseText); // Log the response for debugging
                  Toastify({
                     text: "Error: An error occurred while adding data.",
                     duration: 3000, // Duration in milliseconds
                     close: true, // Show close button
                     style: {
                        background: "linear-gradient(to right, #d49090, #ff4748)",
                     },
                  }).showToast();
                  //alert("Error: An error occurred while adding data.");
               },
            });
         });
      });
   </script>

   <script>
      // edit
      $(document).ready(function () {
         $("#editDataForm").submit(function (e) {
            e.preventDefault(); // Prevent the form from submitting in the default way

            // Serialize the form data
            var formData = $(this).serialize();

            // Send an AJAX request to the server
            $.ajax({
               type: "PUT",
               url: "/bss_edit", // Change this to the actual server endpoint
               data: formData,
               success: function (response) {
                  // Handle the success response
                  if (response.success) {
                     // Data added successfully
                     Toastify({
                        text: "Data updated successfully",
                        duration: 3000, // Duration in milliseconds
                        close: true, // Show close button
                        style: {
                           background: "linear-gradient(to right, #7ce1b7, #1ed085)",
                        },
                     }).showToast();
                     $('#addDataModal').modal('hide'); // Close the modal
                     dataTable.ajax.reload(); // Load the table
                     $('#editForm').hide();
                  } else {
                     // Handle any server-side validation errors
                     Toastify({
                        text: "Error: " + response.message,
                        duration: 3000, // Duration in milliseconds
                        close: true, // Show close button
                        style: {
                           background: "linear-gradient(to right, #d49090, #ff4748)",
                        },
                     }).showToast();
                     $('#editForm').hide();
                     //alert("Error: " + response.message);
                     console.log(formData)
                  }
               },
               error: function (xhr, status, error) {
                  console.log(xhr.responseText); // Log the response for debugging
                  Toastify({
                     text: "Error: An error occurred while updating data.",
                     duration: 3000, // Duration in milliseconds
                     close: true, // Show close button
                     style: {
                        background: "linear-gradient(to right, #d49090, #ff4748)",
                     },
                  }).showToast();
                  $('#editForm').hide();
                  //alert("Error: An error occurred while adding data.");
               },
            });
         });
      });
   </script>

</body>

</html>